.daialog__cover{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    z-index: 10;
}

.daialog{
    width:480px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 24px;
    border-radius: var(--border-radius);
}

.daialog__head{
    display: flex;
    margin-bottom: 24px;
}

.daialog__name{
    font-size: 20px;
    font-weight: 700;
    flex-grow: 1;
}

.daialog__exit{
    cursor: pointer;
    /* background-image: url(/assets/font/fontawesome-5.15.1/svgs/solid/times.svg); */
}

.daialog__content{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}

.daialog__button{
    display: flex;
    justify-content: end;
}

.daialog__button button{
    margin: 0px;
    margin-left: 8px;
}