.header{
    height: 56px;
    width:100%;
    /* background-color: #887777; */
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}

.header__item--left{
    display: flex;
}

.header__item--right{
    display: flex;
    gap: 24px;
}

.header__icon{
    margin-top: 16px;
}

.header__logo{
    margin-top: 10px;
    margin-left: 16px;
    background-image: url(../../assets/icon/logo.svg);
    /* background-size: 36px, 36px; */
}

.header__text{
    margin-left: 8px;
    margin-top: 16px;
}

.header__user{
    margin-top: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url(../../assets/icon/avatar-default.png);
    /* background-size: 100%; */
}